@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --primary-bgcolor:
}
body{
    background-image:url("../images/background image.jpg");
    background-size: contain;
    margin: 0;
    font-family: "poppins";
    li{
        list-style: none;
    }
}
.navBar{
    padding: 1em;

    .logo{
         border: 1em;
         border-radius: 2em;
         background:grey;
         margin-right: 4em;
    }
   .mlink{
        display: flex;
        position:relative;
        list-style: none;
       
    }
     a{
        color: white;
        text-decoration: none;
    }
    .bn{
        background: black;
        color: white;
        padding:.5em;
        font-weight: bold;
        //float: right;
        //height: 2em;
        &:hover{
            background: white ;
            color: black;
        }
        margin-top: 1em;
        margin-right: 1em;
        border-radius: 1em;
    }
    .fb{
        background: rgb(134, 134, 239);
        padding: .5em;
        color: white;
        display: grid;
        display: flex;
       // float: right;
        //height: 2em;
        &:hover{
            background: white ;
            color:rgb(134, 134, 239);
        }   
        margin-top: -.5;
        border-radius: 1em;     
    }
    nav{
        display: none;
    }
    .container{
        display: flex;
        place-content: space-between;
    }
    .menu{
        cursor: pointer;
    }
    .button{
        li{
            color:white;
            text-decoration: none;
            text-align: center;
            list-style: none;
            line-height: 2em;
        }
    }   
 
}
.info{
    .button{
        text-align: center;
        margin: 2em 5em 0 6em;
        background-color: rgba($color: #20272e, $alpha: 0.7);;
        border: 1px solid black;
        padding: .1em;
        display:inline-block;
        color: white;
        line-height: 2.5em;
        .link{
            background: palevioletred;
            text-decoration: none;
            font-weight: bold;
            border: 1em;
            border-color: pink;
            color: white;
            padding: .3em;
            font-size: 1em ;
            cursor: pointer;
            display: inline;
            margin:2em;
        }
    }
}
.info-container{
    dt{
        background: rgba($color: #20272e, $alpha: 0.7);;
        color: white;
        padding: .2em 1.2em;
        margin-bottom: .8em;
        font-weight: bold;
    }

    dd{
       margin-bottom: 1em;
       line-height: 1.5em; 
       text-decoration:underline;
       display:flex;
    }
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
    cursor: pointer;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 5em;
  }
  .prev{
    left: 0;
    border-radius: 5em;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .text{
    display: none;
  }
  nav.menu{
    display:block;
 }
 nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: rgba($color: #20272e, $alpha: 0.9);;
    height: 100%;
    text-decoration: none;
    /*a{
        text-decoration: none;
        display: inline-block;
    }*/
    /*.bn{
        background: black;
        color: white;
        padding: .5em;
        font-weight: bold;
        float: right;
        &:hover{
            background: white ;
            color: black;
        }
        margin: .25em;
    }*/
    /*.fb{
        background: rgb(134, 134, 239);
        padding: .5em;
        color: white;
        display: grid;
        display: flex;
        float: right;
        &:hover{
            background: white ;
            color:rgb(134, 134, 239);
        } 
        margin: .25em;       
    }*/
    .cross{
        margin: .25em;
        color: #f2f2f2;
        background: white;
        padding: .25em;
        border-radius: 6em;

        &:hover{
            cursor: pointer;
        }
    }
    .ctn{
        text-decoration: none;
        border: none;
        list-style: none;
        color: white;
        float: right;
        margin-right: 60%;
        margin-left: 0;
        text-align: left;
        font-size:large;
        margin-top: 3em;
        
        li{
            padding-bottom: 2.5em;
            cursor: pointer;
            &:hover{
                font-weight: bold;
            }
        }
    }

 }

footer{
    background: rgba($color: #20272e, $alpha: 0.7);;
    .footul{
        list-style: none;
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        
        a{
            text-decoration: none; 
            color: white;
            text-align: center;
            cursor: pointer;
            place-content: space-between;
            position: relative;
            
            &:hover{
                font-weight: bold;
            }
           
        }
    }

    .footright{
        list-style: none;
        display: flex;
        place-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        color: black;
        background: rgba($color: #20272e, $alpha: 0.7);
        border: 1em;
        padding: .25em;
        font-size: 1.2em;
        cursor: pointer;

        a{
            color: white;
            text-decoration: none;

            &:hover{
                font-weight: bold;
            }
           
        }
    }
}
@media only screen and (min-width:770px){
    .menu,.cross{
        display:none;
    }
    .info{
        text-align: center;
        margin-top: 0;
        
    }
    .text{
        display: inline;
        text-align: left;
        font-size: large;
        font-weight: bold;
        line-height: 1.25em;
    }
    .navBar .container {
        display:grid;

        grid-template-columns:180px auto;
    }
    .navBar nav{
        text-align: center;
        line-height: 0;
        display:flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul{
            display: flex;
            margin-top: 2em;
            margin-bottom:0;
            margin-right: 2em;
            margin-left: -1em;
        }
        a{
            color: black;
            font-size: 1em;
            padding: .1em 1em;
            margin: 0;
        }
        

    }




}